name: Build

on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: checkout the code
      - uses: actions/setup-go@v5
        name: setup go
        with:
          go-version-file: "go.mod"
          go-version: "1.24.x"
      - name: build
        run: |
          go build -v ./...
